<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://$USER_HOME$/Documents/springjar/aopalliance-1.0.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/commons-logging-1.2.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-aop-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-aspects-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-beans-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-context-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-context-support-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-core-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-expression-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-instrument-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-instrument-tomcat-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-jdbc-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-jms-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-messaging-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-orm-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-oxm-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-test-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-tx-4.3.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>