<component name="libraryTable">
  <library name="Spring MVC" type="spring-mvc">
    <CLASSES>
      <root url="jar://$USER_HOME$/Documents/springjar/spring-web-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-webmvc-portlet-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-webmvc-4.3.4.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Documents/springjar/spring-websocket-4.3.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>